.create-task{
  display: flex;
  align-items: center;
  
  position: fixed;
  bottom: 80px;
  right: 40px;

  z-index: 1;

  cursor: pointer;
}

.create-task span{
  display: none;

  color: #fffffe;

  background: #7f5af0;
  
  padding:15px 20px;
  
  border-radius: 40px 0 0 40px;
  
  position: relative;
}
.create-task:hover span{
  display: initial;

  animation:create-task .3s ease-out forwards;
}

@keyframes create-task{
  from{
    left: 30px;
  }
  to{
    left:19px
  }
}

.create-task .img-holder{
  width: 48px;
  height: 48px;

  border-radius: 50%;
  
  background-color: #7f5af0;
  
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

#add-task-icon{
  width: 32px;
  stroke-width: 4px;

  color: #fffe;
}

.img-holder img{
  max-width: 100%;
  width: 100%;

}

#modal-wrapper{
  display: none;
  position: absolute;

  z-index: 1;
}
#modal-wrapper.ativo{
  inset: 0;

  display: grid;
  align-items: center;
  justify-items: center;

  background: #000000e0;

  width: 100vw;
  height: 100vh;
}

main:has(#modal-wrapper.ativo){
  height: 89vh;
  overflow-y: hidden;
}

.task-modal{
  max-width: 600px;
  z-index: -2;
  
  padding:20px 28px 32px;

  background: #14151a;

  border: 2px solid #d1c2ff;
  border-radius: 8px;

  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 8px;

  position: relative;
  inset: 0;

  z-index: 2;
}

#close-wrapper{
  justify-self: right;

  width: 34px;
  height: 34px;

  border: none;
  border-radius: 50%;

  background: none;

  display: flex;
  place-items: center;

  cursor: pointer;

  z-index: 999;
}
#close-wrapper:hover{
  border: 2px solid var(--r-3);
}

#close-icon{
  color: #eeef;

  flex: 1;
}

.task-modal label{
  font-family: Arial, Helvetica, sans-serif;

  color: rgb(207, 227, 250);
}

.task-modal label ~ *{
  margin-top: 6px;
}

#input-task{
  width: 100%;

  border:2px solid var(--r-3);
  border-radius: 4px;
}

#input-task:focus{
  border: 2px solid #ea94ff;
}

.finish-create{
  display: inline-block;
  justify-self: center;

  padding: 10px 20px;

  margin-top: 32px;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 2px #ffffff2c;

  background: var(--r-3);
  color: #ffffff;
}

