.custom-select > *{
  font-family: Arial, Helvetica, sans-serif;
}

.custom-select{
  display: inline;
}

.custom-select:has(.options-view-button:checked) .options{
  display: block;
}

.category-select{
  width: 210px;

  position: relative;
}

.arrow-down{
  transition: .2s linear;
}
.category-select:has(.options-view-button:checked) .arrow-down{
  rotate: -180deg;
}

.options-view-button{
  all: unset;  /* Remove todo o css do element */

  position: absolute;
  inset: 0;  /* Short hand de top, bottom, left e rigth*/

  cursor: pointer;
  z-index: 1;
}

.select-button{
  padding: 6px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background: var(--r-1);
  color: #fff;

  border-radius: 4px;
}


.options{
  width: 210px;
  display: none;

  position: absolute;

  background: #333333;

  margin-top: 4px;
}

.option{
  position: relative;
  z-index: 100;

  display: flex;
  align-items: center;
  gap: 10px;

  color: #ffffff;

  border-bottom: 1px solid #000;
  
  padding: 10px;
}

.option .my-icon{
  width: 20px;
}

.option:hover,
.option:not(:has(input:checked)):hover span{
  color: var(--r-2);
  background: #252525;
}

.option input[type="radio"]{
  all: unset;

  position: absolute;
  inset: 0;

  cursor: pointer;
}

.option:has(input:checked){
  color: var(--r-3);
}
