@import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&family=Open+Sans:wght@400;500&display=swap');

@import './header.css';
@import './create-task.css';
@import './select.css';

:root{
  --r-1: #6c6d85;
  --r-2: #9c9cf1;
  --r-3: #7f5af0;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #242529;

  overflow-x: hidden;
}

main{
  max-width: 1800px;
  margin: 0 auto;

  padding-top: 40px;
}

#to-do-area{
  padding: 0px 80px;
  
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  gap: 80px;
  
}

.js-div h1{
  margin-bottom: 32px;

  font-size: 1.375rem;
  text-align: left;
  text-transform: uppercase;

  color: #eeeeee;
}

.js-div{
  width: 100%;
  height: fit-content;
  
  margin: 15px;
}

.task{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  padding: 16px 28px;

  border-radius: 4px;
}

#planejada .task{

  background: #f9f4ef;

  box-shadow: 8px 12px 0 0 #eaddcf;
}

#andamento .task{
  color: #001e1d;

  background: #faf4e7;

  box-shadow: 8px 12px 0 0 #eaddcf;
}

#completa .task{
  color: #020826;

  background: #f9f4ef;

  box-shadow: 8px 12px 0 0 #eaddcf;
}

#andamento button{
  border: 2px solid #eaddcf;

  background: none;
}
#completa button{
  border: 2px solid #eaddcf;
  background: none;
}
#planejada button{
  border: 2px solid #eaddcf;
  background: none;
}

#completa .task h2{
  text-decoration: line-through;
}

.task + .task{
  margin-top: 24PX;
}

.task span{
  display: inline-block;
  margin-bottom: 6px;

  font-family: 'B612 Mono', monospace;
  font-size: 14px;
  letter-spacing: 2px;
  color: #292929;
}

.task h2{
  font-size: 1.325rem;
  font-weight: 500;
}

.task-type-area{
  width: 100%;
  
  margin-top: 20px;

  display: flex;
  justify-content: space-between;

  text-align: left;
}

#completa .task-type-area,
#andamento .task-type-area{
  margin-top: none;
}

.task-type-area p{
  display: flex;
  align-items: center;
  gap: 4px;

  word-wrap: break-word;

  color: #292929;
  font-family: 'B612 Mono', monospace;
  text-transform: uppercase;
  font-size: .725rem;
  letter-spacing: 2px;
}

.task-type-area p::before{
  content: '';
  display: inline-block;
  
  width: 8px;
  height: 8px;

  border-radius: 50%;
}

#planejada p:before{
  background: #2f00ff;
}
#andamento p:before{
  background: rgb(255, 97, 97);
}
#completa p:before{
  background: greenyellow;
}

.task-type-area div{
  display: flex;
  align-items: center;
}

.task-type-area button{
  border: none;
  border-radius: 4px;

  padding: 4px;

  display: flex;
  align-items: center;
}

.task-type-area button + button{
  margin-left: 12px;
}

.task-type-area .icons{
  width: 18px;
  height: 18px;
}



