@import './select.css';

:root{
  --r-1: #6c6d85;
  --r-2: #9c9cf1;
  --r-3: #474787;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.create-task{
  display: flex;
  align-items: center;
  position: relative;
}

.create-task span{
  display: inline-block;
  background: #ff7272;
  padding:15px 20px;
  border-radius: 40px 0 0 40px;
  position: relative;
  left: 20px;
}

.create-task .img-holder{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ff7272;
  z-index: 1;
}


.img-holder img{
  max-width: 100%;
  width: 100%;

}

.task-modal{
  max-width: 500px;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;

  padding: 12px 24px;
 
  background: #eee;
}

.task-modal input[type="text"]{
  width: 100%;

  padding: 8px 10px;
}

.select-holder{
  flex: 1;

  display: flex;
  justify-content: space-between;

  margin-top: 12px;
}